.screen{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block: 50px;
    color: #6d6d6d;
    font-size: 1.6rem;
}
.container{
    width: min(500px, 90vw);
    border: 1px solid var(--theme-color);
    border-radius: 2%;
    padding: 30px;
}
.screen form{
    gap: 20px;
}

.add-image-upload img{
    width: 120px;
    cursor: pointer;
}
.add-category{
    min-width: 125px;
}
.add-product-name input,
.add-product-description textarea,
.add-price input,
.add-category select{
    padding:10px;
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    font-size: 1.4rem;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

.add-product-description textarea{
    resize: none;
    height: 120px;
}

.add-btn{
    max-width: 120px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.add-category-price{
    display: flex;
    gap: 30px;
}

.add-price input{
    width: 100%;
}